<form >

  <!-- <div class="form-group">
        <label for="exampleInputEmail1">Domaine</label>
        <input type="file" class="form-control"  placeholder="Domaine" id="domaine" name="domaine" formControlName="domaine">
      </div>
    -->
<!-- 
      <mat-form-field appearance="outline">
        <mat-label>firstName</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field> -->

      <!-- <button type="submit" class="btn btn-primary" style="width: 100%;" [disabled]="entrepriseForm.invalid">Submit</button> -->

    
    </form>

    <button type="button" class="btn btn-primary" (click)="submitCandidacy()">
        view
      </button>