<p>document works!</p>
<!-- 
<button type="button" class="btn btn-success gap" [routerLink]="['/candidacy/add']">
    Add temp
  </button>

<table class="table bg-secondary ">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">-</th>
        <th scope="col">Action</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of list_candidacy">
        <th scope="row">{{line.user.firstname}}</th>
        <td>{{line.user.lastname}}</td>
          <td><button type="button" class="btn btn-primary" [routerLink]="['/candidacy/detail', line.idC]">
            view
          </button>
        </td>
        <td><button type="button" class="btn btn-success gap" (click)="setAccepted(line.idC)" [disabled]="line.situation=='Accepted'">
            Accept
          </button>
        <button type="button" class="btn btn-danger" (click)="setRejected(line.idC)" [disabled]="line.situation=='Rejected'">
            Reject
          </button></td>
      </tr>
    </tbody>
  </table> -->