<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <img src="../../../../assets/img/logointer.PNG" width="100"/>

            <div class="card-body">
                <h2 class="title">Sign Up</h2>
                <form (ngSubmit)="doSignup()" >
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">first name</label>
                                <input class="input--style-4" type="text"  [(ngModel)]="User.firstname" name="firstname">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">last name</label>
                                <input class="input--style-4" type="text" [(ngModel)]="User.lastname" name="lastname">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="text" [(ngModel)]="User.email" name="email">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password"[(ngModel)]="User.password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Cin</label>
                                <input class="input--style-4" type="number" [(ngModel)]="User.cin" name="cin">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" type="text" [(ngModel)]="User.phone" name="phone">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Address</label>
                                <input class="input--style-4" type="text" [(ngModel)]="User.address" name="address">
                            </div>
                        </div>
                    </div>
                    
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>